.header {

  display: flex;
  justify-content: space-between;
  height: 70px;
  margin-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  color: blue;
  background-color: yellow;
  z-index: 1;
}
.logo{
  margin: 0 40px;
  display: block;
  justify-content: flex-start;
  width: 150px;
  height: 67px;
  //background-image: url('');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item {
  list-style: none;
  display: flex;
  height: 70px;
  width: 230px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: white;
}